.filters {
  background: rgba(30, 53, 60, 0.68);
  border-radius: 14px;
  padding: 17px 12px 10px 18px;
  margin-bottom: 24px;
  color: #eaf6ff;
  box-shadow: 0 2px 12px #881ec533;

  h3 {
    font-size: 1.18rem;
    margin-bottom: 9px;
    color: #a4ffdc;
    font-weight: 600;
  }
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    button {
      background: #223d36;
      color: #5af6d7;
      border: none;
      border-radius: 7px;
      padding: 6px 16px;
      font-size: 1.05em;
      cursor: pointer;
      transition: background 0.12s, color 0.11s, box-shadow 0.16s;
      box-shadow: 0 1px 5px #29c29922;
      &:hover, &:focus {
        background: #2ed7aa;
        color: #002822;
        font-weight: bold;
      }
    }
  }
}
