.geoscope-map {
  margin: 0 auto 24px auto;
  border-radius: 18px;
  box-shadow: 0 8px 40px #214a5c44;
  outline: 2px solid #223f5265;
  width: 90vw;
  max-width: 900px;
  min-width: 280px;
  min-height: 340px;
  height: 54vw;
  max-height: 70vh;

  @media (max-width: 1100px) {
    width: 98vw;
    max-width: 99vw;
    height: 60vw;
    min-height: 210px;
    max-height: 60vw;
  }
  @media (max-width: 700px) {
    min-width: 90vw;
    min-height: 160px;
    height: 70vw;
    max-height: 99vw;
  }
}
